= render partial: "shared/chat-side"

.chat-main
  .chat-main__header
    .chat-main__header-group
      %p.chat-main__header-group-name<
        = @group.name
      = link_to "edit", "/groups/#{@group.id}/edit", class: "chat-main__header-group-edit-btn"
    .chat-main__header-members<
      MEMBER:
      - @group.users.each do |user|
        %i<
          = user.name
  .chat-main__body
    .chat-main__body-messages-list
      = render partial: "body-message", locals: { messages: @group.messages }
  .chat-main__footer
    = form_for [@group, @message], html: {class: "chat-main__footer-form"} do |f|
      .chat-main__footer-body
        = f.text_field :body, class: "chat-main__footer-body-message", placeholder: "type a message"
        = f.submit "Send", class: "chat-main__footer-body-submit"
